.booklist {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(232, 244, 235, 0.948);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.booklist2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bookcard {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px black(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(232, 244, 235, 0.948);

  &:hover {
    transform: scale(1.05);
  }
}

.bookcard .bookimage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.bookcard .bookdet {
  padding: 10px;
}
.bookcard .bookactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(196, 189, 194);
}
.bookcard button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(17, 127, 230);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgb(16, 194, 57);
  }
}
