.home-main {
  text-align: center;
}
.home-main {
  
     display: flex;
     background-color: rgb(207, 218, 225);
     height: 92vh;
     padding-inline: 30px;
     color: rgb(121, 20, 20);

}
.home-content {

   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;


}
.hero-image {
  flex: 1;
  background: url('images/home.jpg') center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.descripttion {
  font-size: 1.2rem;
 
  margin-bottom: 20px;
  
}

.button-login {
    font-size: 2rem;
    width: 180px;
    height: 24px;
    background-color: rgb(224, 248, 137);
    border-radius: 5px;

}

.button-signup {
    font-size: 2rem;
    width: 200px;
    height: 24px;
    background-color: aqua;
    border-radius: 5px;
}
.button-main {

  
  justify-content: center;


}