.home-main {
  text-align: center;
}
.home-main {
  
     
  background-color: rgba(232, 244, 235, 0.948);
     height: 92vh;
     
     color: rgb(121, 20, 20);

     flex: 1;
     background: url('images/background.png') center;
     background-size: 100%;
     background-repeat: no-repeat;

}
.home-content {

   
   display: flex;
   flex-direction: column;
   justify-content:top;
   padding: 20px;
   

   
   


}


.descripttion {
  font-size: 1.2rem;
 
  margin-bottom: 20px;
 
  
}




.button-main {

  
  justify-content: center;


}

.footer {
   height: 40px;
   width: 100%;
   display: flex;
   background-color: rgb(106, 42, 42);
   justify-content: center;
   margin-top: 276px;
   color: rgb(255, 255, 255);
   
   
   
   
   


}

.image {
   display: flex;
   height: 400px;
   width: 1000px;
   background: url('images/home.jpg');
   background-size: 55%;
   background-repeat: no-repeat;
 
   margin-left: 150px;
}

.footer p {
margin-top: 10px;

}